@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.header {
  width: 100%;
  height: 3.5rem;
  background-color: rgb(48, 29, 68);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.header__nav {
  list-style: none;
  padding-left: 1.5rem;
  color: rgb(241, 239, 243);
  /* centering vertically */
  height: 100%;
  display: none;
  align-items: center;
}

.header__item-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.header__item {
  padding: 0;
  margin: 0 1rem;
}

.header__item:not(:last-child) {
  padding-right: 2rem;
}

/* .header__item a {
        color: rgb(241, 239, 243);
        text-decoration: none;
        transition-delay: 2s;
      } */

.header__item a:link,
.header__item a:visited {
  color: rgb(241, 239, 243);
  text-decoration: none;
  transition-delay: 0.125s;
  transition-duration: 0.125s;
}

.header__item a:active,
.header__item a:hover,
.header__item a.active {
  color: rgb(243, 72, 215);
  transition-delay: 0.125s;
  transition-duration: 0.125s;
  transition-property: color;
}

.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25em;
}

.form-control input,
.form-control textarea {
  border: 1px solid rgb(48, 29, 68);
  font: inherit;
  border-radius: 5px;
  width: 100%;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: rgb(48, 29, 68);
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
  background: #00695c;
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  font: inherit;
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  /* width: 100%; */
  cursor: pointer;
  border: 1px solid rgb(48, 29, 68);
  background-color: rgb(48, 29, 68);
  color: rgb(241, 239, 243);
  transition-delay: 0.125s;
  transition-duration: 0.125s;
}

.btn:hover {
  color: rgb(48, 29, 68);
  background-color: rgb(241, 239, 243);
  transition-delay: 0.125s;
  transition-duration: 0.125s;
  transition-property: background-color, color;
}

@media (min-width: 768px) {
  .header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
}
